@media (min-width: 320px) and (max-width: 480px){
.banner h1 {
    font-size: 35px;
    line-height: 40px;
}
.banner .btn-info {
    font-size: 15px;
   padding: 10px 20px;
}
.banner-img img {
    margin-top: 40px;
}
.img-fluid {
    margin-top: 10px;
}
.featured h2 {
    font-size: 25px;
}

.smart-txt h3 {
    font-size: 35px;
}
.smart-txt .btn-info {
    font-size: 20px;
    padding: 8px 20px;
}
.foooter h3 {
    text-align: center;
}
.app-logo img {
    width: 200px;
    margin-top: 20px;
}
.foooter-img img {
    width: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.foooter-icon ul {
    list-style: none;
    text-align: center;
}
}


@media (min-width: 481px) and (max-width: 767px){
	.banner h1 {
    font-size: 35px;
    line-height: 40px;
}
.banner .btn-info {
    font-size: 15px;
   padding: 10px 20px;
}
.banner-img img {
    margin-top: 40px;
}
.img-fluid {
    margin-top: 10px;
}
.featured h2 {
    font-size: 25px;
}
.smart-txt h3 {
    font-size: 35px;
}
.smart-txt .btn-info {
    font-size: 20px;
    padding: 8px 20px;
}
.foooter h3 {
    text-align: center;
}
.app-logo img {
    width: 200px;
    margin-top: 20px;
}
.foooter-img img {
    width: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.foooter-icon ul {
    list-style: none;
    text-align: center;
}
}


@media (min-width: 768px) and (max-width: 1024px){
	.banner h1 {
    font-size: 30px;
}
.banner p {
    font-size: 12px;
}
.featured h2 {
    font-size: 30px;
}
.featured-img h5 {
    font-size: 10px;
}
.latest h5 {
    font-size: 10px;
}
.smart-txt h3 {
    font-size: 40px;
}
.smart {
    padding: 20px 0px;
}
.img-fluid {
    margin-top: 75px;
}
.smart-txt h6 {
    margin-top: -90px;
}
.smart-txt .btn-info {
    font-size: 20px;
    padding: 4px 20px;
}
.foooter h3 {
    font-size: 13px;
}
.testimonial h3 {
    font-size: 15px;
}
.app-logo img {
    width: 100px;
}
.imds p {
    font-size: 15px;
}
}


@media (min-width: 1025px) and (max-width: 1326px){
	
}